<!--end::Toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
	<!--begin::Container-->
	<div id="kt_content_container" class="container-xxl">
		<h1 class="fw-bolder text-center" >Welcome to Dashboard @User.Identity.Name</h1>
	</div>
	<!--end::Container-->
</div>